%section.welcome-banner-section
  %header.welcome-banner-header
    .container
      %ul.inline
        %li
          %ul.inline
            %li.count
              268 123
            %li
              %div
                impressions/day from 12K+ unique IPs
              .text-success
                %i.icon-arrow-rise
                15.17%
        %li
          %ul.inline
            %li.count
              15 673
            %li
              %div
                clicks/day from 1.1K unique IPs
              .text-success
                %i.icon-arrow-rise
                5.7%

        %li
          %ul.inline
            %li.count
              0.23
            %li
              %div
                B/day from 3 campaigns
              .text-error
                %i.icon-arrow-fall
                4.2%
  .container
    .row-fluid
      .span5
        %ul#welcome-banner-tabs.nav.nav-tabs
          %li.active
            %a{href: "#add-place"} Place your ad
          %li
            %a{href: "#profile"} Earn money
         
        .tab-content
          #add-place.tab-pane.active
            %form.form-horizontal
              %fieldset
                .control-group
                  %label.control-label{for: "inputTitle"}
                    Title
                  .controls
                    %input#inputTitle.span11{type: "text", placeholder: "Type your title here"}
                .control-group
                  %label.control-label{for: "inputText"}
                    Text
                  .controls
                    %input#inputText.span11{type: "text", placeholder: "Example ad text here. Ad text here."}
                .control-group
                  %label.control-label{for: "inputLink"}
                    Link
                  .controls
                    %input#inputLink.span11{type: "text", placeholder: "http://yoursite.com"}
                .control-group
                  .controls
                    %button.btn.btn-primary{type:"submit"} Create Ad

          #profile.tab-pane
            %form.form-horizontal
              %fieldset
                .control-group
                  %label.control-label{for: "selectType"}
                    Type
                  .controls
                    %select#selectType.span11
                      %option Site
                      %option Another
                .control-group
                  %label.control-label{for: "inputLink"}
                    Link
                  .controls
                    %input#inputLink.span11{type: "text", placeholder: "Example ad text here. Ad text here."}
                .control-group
                  .controls
                    %button.btn.btn-primary{type:"submit"} Create Ad

      .span7
        #myCarousel.carousel.slide
          %ol.carousel-indicators
            %li.active{data: {target: "#myCarousel", slide: {to: "0"}}}
            %li{data: {target: "#myCarousel", slide: {to: "1"}}}
            %li{data: {target: "#myCarousel", slide: {to: "2"}}}
            %li{data: {target: "#myCarousel", slide: {to: "3"}}}
            %li{data: {target: "#myCarousel", slide: {to: "4"}}}
            %li{data: {target: "#myCarousel", slide: {to: "5"}}}

          .carousel-inner
            .item.active
              %h2
                WHAT IS ANONYMOUS 
              .row
                .span7
                  %p
                    Anonymous Ads - ad network without store of personal info
                  %ul.carousel-list
                    %li
                      Wide coverage
                    %li
                      Concrete advertising spaces
                    %li
                      Low cost
                .span5
                  .icon-carousel-aad
            .item
              %h2
                WHAT IS ANONYMOUS ADS
              .row
                .span7
                  %p
                    Ad network without collecting facts about users.
                  %p
                    You are good for us regardless of the quantity and quality of your traffic. Any rates of CPM and CPC. Advertiser gives you the budget plus rewards for effective traffic. Pre-moderation of all ads, automatic withdrawal Ƀ, direct advertising sales from your site.
                .span5
                  .icon-carousel-bitcoin-globe
            .item
              %h2
                ADVERTISE WITH US
              %p
                Create ad, choose traffic sources, set daily budget and deposit funds.
              %ul.carousel-features
                %li
                  .icon-carousel-doc-speaker
                  %p
                    YOUR AD
                %li
                  .icon-carousel-plus
                %li
                  .icon-carousel-basket-globe-90
                  %p
                    TRAFFIC
                    %br SOURCES
                %li
                  .icon-carousel-plus
                %li
                  .icon-carousel-bitcoin-speedo
                  %p
                    Daily
                    %br Budget
                %li
                  .icon-carousel-equal
                %li
                  .icon-carousel-board-graph-90
                  %p
                    Advertising
                    %br Campaign
            .item
              %h2
                CAMPAIGN OPTIMIZATION
              %p
                Use goal tracking to detect best performing ad units and reward them to improve the quality of traffic you receive.
              %ul.carousel-features.features-120
                %li
                  .icon-carousel-board-graph-120
                  %p
                    ADVERTISING
                    %br CAMPAIGN
                %li
                  .icon-carousel-plus
                %li
                  .icon-carousel-globe-steps
                  %p
                    Tracking
                    %br GOAL
                %li
                  .icon-carousel-equal
                %li
                  .icon-carousel-board-stats
                  %p
                    Optimized
                    %br AdS Campaign
            .item
              %h2
                EARN WITH US
              %p
                Get A-ADS code and embed it on your site or application.
              %ul.carousel-features.features-120
                %li
                  .icon-carousel-bitcoin-chips
                  %p
                    YOUR INCOME
                %li
                  .icon-carousel-equal
                %li
                  .icon-carousel-doc-person
                  %p
                    A-ADS
                    %br ADVERTISERS
                %li
                  .icon-carousel-plus
                %li
                  .icon-carousel-basket-globe-120
                  %p
                    YOUR traffic
                    %br sources
            .item
              %h2
                AFFILIATE PROGRAM
              %p
                All publishers are our partners, we pay 50% of fees from advertisers attracted by them.
              %ul.carousel-features.features-120
                %li
                  .icon-carousel-ads-example
                  %p
                    Click on Ref. link
                    %br from your site
                    %small
                      located in the banner advertising
                      %br network - picture above
                %li
                  .icon-carousel-plus
                %li
                  .icon-carousel-basket-docs
                  %p
                    Buy ad
                    %br ADVERTISERS
                %li
                  .icon-carousel-equal
                %li
                  .icon-carousel-bitcoin-chips-half
                  %p
                    YOUR 50%
                    %br FROM FEES        


%section.welcome-news-section
  .container
    .row-fluid
      .span5
        %h2 Our twitter
        %ul.unstyled.last-twitts-list
          %li
            %p
              %a{href: "#"} anonymousads 
              Such advertisers will get all the required support and attention from me. I am even willing to implement it on their side for free.
            %p.actions
              %a{href:"#"}
                3 hours ago
              •
              %a{href:"#"}
                Reply
              •
              %a{href:"#"}
                Retweet
              •
              %a{href:"#"}
                Add to favoriets
          %li
            %p
              %a{href: "#"} anonymousads 
              Such advertisers will get all the required support and attention from me. I am even willing to implement it on their side for free.
            %p.actions
              %a{href:"#"}
                3 hours ago
              •
              %a{href:"#"}
                Reply
              •
              %a{href:"#"}
                Retweet
              •
              %a{href:"#"}
                Add to favoriets
          %li
            %p
              %a{href: "#"} anonymousads 
              Such advertisers will get all the required support and attention from me. I am even willing to implement it on their side for free.
            %p.actions
              %a{href:"#"}
                3 hours ago
              •
              %a{href:"#"}
                Reply
              •
              %a{href:"#"}
                Retweet
              •
              %a{href:"#"}
                Add to favoriets

      .span7
        %h2 Last news
        %ul.unstyled.last-news-list
          %li.row-fluid
            .span2
              Wed 13:30
            .span10
              %p
                = link_to "Will get all the required support and attention get all the required support and attention.", "#"
          %li.row-fluid
            .span2
              Tue 11:30
            .span10
              %p
                = link_to "Get all the required and attention support.", "#"
          %li.row-fluid
            .span2
              Wed 13:30
            .span10
              %p
                = link_to "A time lapse video tribute to London, made during my final days studying abroad in that lovely city made during my final days studying abroad in that lovely city.", "#"
          %li.row-fluid
            .span2
              Wed 13:30
            .span10
              %p
                = link_to "Will get all the required support and attention get all the required support and attention.", "#"
          %li.row-fluid
            .span2
              Tue 11:30
            .span10
              %p
                = link_to "Get all the required and attention support.", "#"



