!!!
%html
  %head
    %title AAds
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
  %body
    = render template: "shared/navbar"
    = yield



    = javascript_include_tag "application"